* {
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

.node {
  width: 100px;
  border: 2px solid black;
  margin: 10px auto;
  padding: 0 10px;
  text-align: center;
  overflow: visible;
}

.nodelist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.node.male{
  background:  #ADD8E6;
}

.node.female{
  background:  #FFB6C1;
}